

<shared-generic-list  [items]="expenseList"
                      [columns]="columns"
                      [baseRoute]="baseRoute"
                      [listTitle]="listTitle"
                      [paginator]="paginator"
                      [actionsConfig]="actionsConfig"

                      [pageSize]="pageSize!"
                      [pageSizes]="pageSizes"

                      (pageSizeChange)="onPageSizeChange($event)">
</shared-generic-list>

<!-- this.cropService.getCropById(cropId!, token).subscribe({
  next: (response) => {
    this.listTitle = "Gastos de " + response.projectApplication.farmName;
    console.log("expense-list.   cropService.getCropById")
  },
  error:() => console.log("error"),
});


this.selectedCropId = cropId;
          this.loadExpenses(page); -->
