


<div class="card">
  <!-- <img *ngIf="image" [src]="image" class="card-img-top img-fluid" alt="Card Image" style="height: 250px; object-fit: cover;"> -->
  <img *ngIf="image" src="http://localhost:8080/api/v1/project/imagen/{{image}} " class="card-img-top img-fluid" alt="Card Image" style="height: 250px; object-fit: cover;">


  <div class="card-body d-flex flex-column">
    <h5 class="card-title">{{ title }}</h5>
    <div *ngFor="let field of fields">
      <!-- <strong>{{ field.label }}:</strong>
      <p>{{ field.value }}</p> -->
      <p>{{ field.label }}: {{ field.value }}</p>
    </div>
  </div>

  <div class="card-footer">
    <ng-container *ngFor="let btn of buttons">
      <button *ngIf="btn.visible && !btn.isDropdownItem"
              class="btn"
              [ngClass]="btn.style"
              (click)="onButtonClick(btn.action)">
        {{ btn.text }}
      </button>
    </ng-container>

    <div class="dropdown" *ngIf="hasDropdownItems()">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        Opciones
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <ng-container *ngFor="let btn of buttons">
          <li *ngIf="btn.isDropdownItem && btn.visible" class="dropdown-item"
              (click)="onButtonClick(btn.action)">
            {{ btn.text }}
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</div>
