<h1>Listado de Fertilizantes</h1>



<!-- <div class="row bm-8 pt-2">
  <div *ngFor="let fertilizer of fertilizerList" class="col-12 col-sm-4 col-md-3 col-xl-2">
    <shared-generic-card [fertilizer]="fertilizer"></shared-generic-card>
  </div>
</div> -->




<div class="row">
  <div class="col">
    <!-- Tabla -->
    <hr>
    <!-- <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner> -->
    <shared-generic-table [fertilizers]="fertilizerList"></shared-generic-table>
  </div>
</div>

<shared-paginator *ngIf="paginador" [paginador] = "paginador"></shared-paginator>


<div>
  <label for="pageSize">Items por página:</label>
  <select id="pageSize" [(ngModel)]="pageSize" (change)="onPageSizeChange(pageSize)">
    <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
  </select>
</div>

<button type="button" class="btn btn-danger btn-sm" routerLink='/fertilizer/new-fertilizer'>
  Agregar fertilizante
</button>
