
<div class="toolbar">
  <label for="projectSelector">Proyecto:</label>
  <select id="projectSelector" [(ngModel)]="selectedProjectId" (change)="onProjectChange(selectedProjectId!)">
    <option value="">Todos los proyectos</option>
    <option *ngFor="let project of projects" [value]="project.id">{{ project.name }}</option>
  </select>
</div>

<shared-generic-list  [items]="projectApplicationList"
                      [columns]="columns"
                      [baseRoute]="baseRoute"
                      [listTitle]="listTitle"
                      [paginator]="paginator"
                      [actionsConfig]="actionsConfig"

                      [pageSize]="pageSize!"
                      [pageSizes]="pageSizes"

                      (pageSizeChange)="onPageSizeChange($event)">
</shared-generic-list>
