<div *ngIf="items.length === 0; else table" class="alert alert-warning text-center">
  No hay elementos que mostrar
</div>


<ng-template #table>
  <table class="table table-hover">
    <thead>
      <tr>
        <th *ngFor="let col of columns">{{ col.label }}</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items; let i = index">

        <!-- <td *ngFor="let col of columns">{{ item[col.key] }}</td> -->

        <td *ngFor="let col of columns">
          {{ col.key.includes('.') ? resolveNestedProperty(item, col.key) : item[col.key] }}
        </td>

        <td>
          <button type="button" class="btn btn-primary btn-sm" (click)="edit.emit(item.id)">Editar</button>

          <button type="button" class="btn btn-danger btn-sm" (click)="delete.emit(item.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>


