<div *ngIf="items.length === 0; else table" class="alert alert-warning text-center">
  No hay elementos que mostrar
</div>


<ng-template #table>
  <table class="table table-hover">
    <thead>
      <tr>
        <th *ngFor="let col of columns">{{ col.label }}</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items; let i = index">

        <!-- <td *ngFor="let col of columns">{{ item[col.key] }}</td> -->

        <td *ngFor="let col of columns">
          {{ col.key.includes('.') ? resolveNestedProperty(item, col.key) : item[col.key] }}
        </td>

        <td>

          <ng-container *ngFor="let action of actionsConfig">
            <button *ngIf="action.visible(item) && action.type === 'rowAction'"
                    type="button" class="btn btn-sm m-2"
                    [class]="action.buttonClass"
                    (click)="action.emitEvent.emit(item.id)">
              {{ action.label }}
            </button>
          </ng-container>

        </td>
      </tr>
    </tbody>
  </table>
</ng-template>


