<div *ngIf="fertilizers.length === 0; else table" class="alert alert-warning text-center">
  No hay fertilizers que mostrar
</div>


<ng-template #table>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <!-- <th>Icon</th> -->
        <!-- <th>Bandera</th> -->
        <th>Nombre</th>
        <th>Marca</th>
        <th>Precio por gramo</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let fertilizer of fertilizers; let i = index">

        <td>{{ fertilizer.id }}</td>
        <td>{{ fertilizer.name }}</td>
        <td>{{ fertilizer.brand }}</td>
        <td>{{ fertilizer.pricePerGram| number }}</td>

        <td>
          <button type="button" [routerLink]="['/fertilizer/edit', fertilizer.id]" class="btn btn-primary btn-sm">Editar</button>

          <button type="button" (click)="delete(fertilizer.id)" class="btn btn-danger btn-sm">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>


