<div class="container-fluid min-vh-100 d-flex justify-content-center align-items-center bg-agriculture">
  <div class="row justify-content-center w-100 general-modal">
    <div class="col-12 col-md-10 col-lg-8">
      <div class="card shadow-lg border-0 rounded-lg">
        <div class="card-body p-4">
          <form [formGroup]="form" (ngSubmit)="handleSubmit()" class="agri-form">
            <h1 class="text-center text-green mb-4">{{ title }}</h1>

            <div [ngClass]="{'two-columns': config.length > 3}">
              <div *ngFor="let field of config" class="mb-3">
                <label [attr.for]="field.name" class="form-label text-green">{{ field.label }}</label>

                <div [ngSwitch]="field.type">
                  <input *ngSwitchCase="'text'" type="text" class="form-control" [id]="field.name" [formControlName]="field.name">
                  <input *ngSwitchCase="'number'" type="number" class="form-control" [id]="field.name" [formControlName]="field.name">
                  <input *ngSwitchCase="'date'" type="date" class="form-control" [id]="field.name" [formControlName]="field.name">
                  <input *ngSwitchCase="'checkbox'" type="checkbox" class="form-check-input" [id]="field.name" [formControlName]="field.name">
                  <select *ngSwitchCase="'select'" class="form-control" [id]="field.name" [formControlName]="field.name">
                    <option *ngFor="let option of field.options" [value]="option.value">{{ option.label }}</option>
                  </select>
                </div>

                <div *ngIf="form.get(field.name)?.touched && form.get(field.name)?.errors?.['required']" class="alert alert-danger mt-1">
                  This field is required.
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-center">
              <button type="submit" class="btn-info">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
