<h1 class="title">{{ listTitle  }}</h1>

<div class="row">
  <div class="col">

    <div class="button-group">
      <ng-container *ngFor="let action of actionsConfig">
        <button *ngIf="action.visible(true) && action.type === 'generalAction'"
                (click)="action.emitEvent.emit()"
                [class]="action.buttonClass"
                class="btn">{{ action.label }}</button>
      </ng-container>
    </div>

    <hr>
    <shared-generic-table
                [items]="items"
                [columns]="columns"
                [actionsConfig]="actionsConfig">
    </shared-generic-table>

    <shared-paginator [paginador]="paginator" [pageRoute]="baseRoute + '/page'"></shared-paginator>
  </div>

  <div class="m-2">
    <label for="pageSize">Items por página:</label>
    <select class="m-2" id="pageSize" [(ngModel)]="pageSize" (change)="onPageSizeChange(pageSize)">
      <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
    </select>
  </div>


</div>

