.btn-add {
  background-image: linear-gradient(to right, #343a40, #3e444a);
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 25px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block; /* Asegurar que el botón no ocupe todo el ancho */
  margin-left: 10px;
}

.btn-add:hover {
  background-image: linear-gradient(to right, #3e444a, #495057);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.btn-add:active {
  background-image: linear-gradient(to right, #2d3236, #343a40);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);
  transform: scale(0.95);
}

.btn-add:focus:not(:active) {
  box-shadow: 0 0 0 4px rgba(52, 58, 64, 0.4);
}

.btn-danger {
  background-image: linear-gradient(to right, #f23e50, #343a40);
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 25px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block; /* Asegurar que el botón no ocupe todo el ancho */
  margin-left: 10px;
}

.btn-danger:hover {
  background-image: linear-gradient(to right, #f23e50, #2d3236);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.btn-danger:active {
  background-image: linear-gradient(to right, #f23e50, #212529);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);
  transform: scale(0.95);
}

.btn-danger:focus:not(:active) {
  box-shadow: 0 0 0 4px rgba(242, 62, 80, 0.5);
}

.title {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.custom-paginator {
  margin-top: 7px; /* Añadir espacio entre la lista y el paginador */
  display: flex;
  justify-content: center; /* Centrar el paginador */
  font-size: small;
}

.container {
  max-width: 1100px; /* Ajusta esto según el ancho máximo deseado */
  margin: 0 auto; /* Centrar el contenedor */
}

.button-group {
  display: flex;
  justify-content: flex-end; /* Alinear el botón a la derecha */
  margin-bottom: 10px; /* Añadir espacio debajo del botón */
  margin-top: 10px; /* Añadir espacio arriba del botón */
}

.shared-generic-table {
  width: 100%;
}

.row {
  width: 100%;
}

.col {
  width: 100%;
}
