<!-- generic-list.component.html -->
<h1>{{ listTitle  }}</h1>

<div class="row">
  <div class="col">
    <button type="button" class="btn btn-success mb-3" (click)="onCreate()">Agregar {{ listTitle }}</button>
    <hr>
    <shared-generic-table [items]="items"
                          [columns]="columns"
                          [actionsConfig]="actionsConfig"
                          (edit)="edit.emit($event)"
                          (delete)="delete.emit($event)">
    </shared-generic-table>
    <shared-paginator [paginador]="paginator" [pageRoute]="baseRoute + '/page'"></shared-paginator>
  </div>

  <div>
    <label for="pageSize">Items por página:</label>
    <select id="pageSize" [(ngModel)]="pageSize" (change)="onPageSizeChange(pageSize)">
      <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
    </select>
  </div>


</div>

